In [1]:
import pandas as pd

In [14]:
df_power = pd.read_csv('../data/input/prices/gee23/power_price_2024.csv')
df_gas = pd.read_csv('../data/input/prices/gee23/gas_price_2024.csv')

df_cost = df_power.merge(df_gas, on='t')
df_cost.index = df_cost['t']
df_cost.drop(columns='t', inplace=True)
df_cost.rename(columns={'value_x': 'Netzverkauf', 'value_y': 'Einkauf_Gas'}, inplace=True)


df_cost

      Netzverkauf  Einkauf_Gas
t
1          114.12       70.037
2          113.79       70.037
3          113.79       70.037
4          111.79       70.037
5          111.78       70.037
...           ...          ...
8780       199.29       70.037
8781       133.18       70.037
8782       125.27       70.037
8783       127.15       70.037
8784       124.78       70.037

[8784 rows x 2 columns]

In [20]:
df_cost.index = pd.date_range(start='01.01.2024 00:00', periods=8784, freq='H')
df_cost.index = df_cost.index.strftime('%d.%m.%Y %H:%M')

df_cost.index.name = 'snapshots'

df_cost.to_csv('../data/output/costs_2024.csv', index_label='snapshots')